@font-face {
    font-family: 'Geist';
    src: url('../assets/font/Geist/Geist-ExtraBold.woff2');
    font-weight: 800;
    font-style: extrabold;
}

@font-face {
    font-family: 'Geist';
    src: url('../assets/font/Geist/Geist-Medium.woff2');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Geist';
    src: url('../assets/font/Geist/Geist-Light.woff2');
    font-weight: 300;
    font-style: light;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR SECTION */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 50;
    padding: 15px 0;
    background: #fffceb;
    border-bottom: 1px solid #C53338;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%
}

.navbar.sticky {
    background: #C53338;
    padding: 5px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar.sticky .logoname a,
.navbar.sticky .icon,
.navbar.sticky ul li a {
    color: #ffffff;
}

.logo {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    position: relative;
    width: 78px;
    height: 79px;
}

.navbar .logoname a {
    color: #C53338;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
    /*makes nav align horizontally*/
}

.menu-list li {
    list-style: none;
}

.navbar a.active {
    font-weight: 700;
}

/*Edit Page links*/
.menu-list li a {
    color: #C53338;
    font-size: 18px;
    font-weight: 500;
    margin-left: 70px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    font-weight: 700;
}

/*END NAVBAR*/

body {
    background-image: url("../assets/gen/bgpattern.png");
    background-repeat: repeat;
}

/* SCROLL BAR EDITS */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #C53338;
}

/*BG for Each Page*/
.bgHome {
    background-color: #fffceb;
}

/* Home - Section 1 Waves Animation Banner */

.waves {
    background-color: #fffceb;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.waves * {
    overflow-x: hidden;
}


/* Title Banner */
.BannerTitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 7%;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 900;
    align-items: center;
    color: #C53338;
    text-transform: uppercase;
    z-index: 11;
}

.BannerTitle img {
    width: 30vw;
}

.subtitle {
    font-family: 'Geist';
    font-weight: 900;
    width: 30vw;
    font-size: 1.1rem;
    margin-top: 10px;
    -webkit-text-stroke: #fffceb 0.2px;
}

/* Clouds CSS */
.BannerContainer {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

/* KEYFRAMES */
@-webkit-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }

    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -500px;
    }

    100% {
        margin-left: 100%;
    }
}

/* CLOUD ANIMATIONS */
.x1 {
    top: 5%;
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
}

.x2 {
    top: 30%;
    -webkit-animation: animateCloud 40s linear infinite;
    -moz-animation: animateCloud 40s linear infinite;
    animation: animateCloud 40s linear infinite;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x3 {
    top: 35%;
    -webkit-animation: animateCloud 25s linear infinite;
    -moz-animation: animateCloud 25s linear infinite;
    animation: animateCloud 25s linear infinite;
}

.x4 {
    top: 50%;
    -webkit-animation: animateCloud 18s linear infinite;
    -moz-animation: animateCloud 18s linear infinite;
    animation: animateCloud 18s linear infinite;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

/* OBJECTS */
.cloud {
    height: auto;
    position: relative;
}

.cloud:after, .cloud:before {
    content: '';
    position: absolute;
    z-indeX: -1;
}


/* END OF CLOUDS */

/* RISING SUN ANIMATION */
.redsun {
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 2;
    animation: riseFall 5s ease-in-out infinite;
    width: 600px;
    height: 600px;
}

/* Clouds behind the sun */
.x1, .x2 {
    position: absolute;
    z-index: 3;
}

/* Clouds in front of the sun */
.x3, .x4 {
    position: absolute;
    z-index: 1;
}

/* Sun's Rrising and Falling */

@keyframes riseFall {
    0%, 100% {
        transform: translateY(0px);
        /* Starting and ending position */
    }

    50% {
        transform: translateY(-20px);
        /* Peak height */
    }
}

/* BIG WAVES ANIMATION */
.bigwave {
    position: absolute;
    z-index: 10;
    width: 200%;
    height: auto;
    display: flex;
    bottom: -60px;
    animation: moveLeft 10s linear infinite;
}

/* para ndi kitaon :(( */
.bigwave2 {
    transform: translateX(-0.75px);
}


@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* BG Tint */
.background-tint {
    background-color: rgba(255, 238, 205, 0.625);
    background-blend-mode: multiply;
}

/* HomePage Content */
.homepage-content {
    border-top: 10px solid #C53338;
}

.homepage-content .title {
    font-size: 38px;
    font-weight: 700;
}

.homepage-content p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #C53338;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/* Featured Section */
.featured-section {
    max-width: 90%;
    margin: 9vh auto;
    padding: 0 30px;
}

.featured-title {
    position: relative;
    height: 1.8em;
    font-weight: 900;
    color: #C53338;
    font-size: clamp(0.5rem, 7vw, 4rem);
}

/* Product Container */
.product-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.product-box {
    height: auto;
    border: 10px solid #fffceb;
    outline: 2px solid #C53338;
    outline-offset: -10px;
    flex: 1;
    transition: flex 1s ease, background-color 1s ease;
    cursor: pointer;
    position: relative;
    background-color: #fffceb;
}

.product-box:hover {
    flex: 70%;
    background-color: #C53338;
}

/* Hide all classes that start with "featured-item" */
[class^="featured-item"] {
    display: none;
}

.product-description {
    height: 200px;
}

.product-description h2 {
    margin: 10px 0;
    position: relative;
    font-weight: 800;
    font-size: 2.5rem;
    color: #C53338;
    font-size: clamp(0.2rem, 4vw, 2.5rem);
}

.product-description p {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 2vh;
    line-height: 20px;
    color: #C53338;
    text-align: justify;
}

/* Featured Info Container */
.featured-info-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    height: auto;
}

/* Inner images default style */
.product-box .product-image-1,
.product-box .product-image-2,
.product-box .product-image-3,
.product-box .product-image-4,
.product-box .product-image-5 {
    height: 354px;
    margin: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    /*for when inner img fades*/
}

/* Product Image Hover Effects */
.product-image-1 {
    background-image: url("../assets/food/Featured/S1.png");
}

.product-image-1:hover {
    background-image: url("../assets/food/Featured/Box\ 1.gif");
}

.product-image-2 {
    background-image: url("../assets/food/Featured/S2.jpg");
}

.product-image-2:hover {
    background-image: url("../assets/food/Featured/Box\ 2.gif");
}

.product-image-3 {
    background-image: url("../assets/food/Featured/S3.png");
}

.product-image-3:hover {
    background-image: url("../assets/food/Featured/Box\ 3.gif");
}

.product-image-4 {
    background-image: url("../assets/food/Featured/S4.png");
}

.product-image-4:hover {
    background-image: url("../assets/food/Featured/Box\ 4.gif");
}

.product-image-5 {
    background-image: url("../assets/food/Featured/S5.png");
}

.product-image-5:hover {
    background-image: url("../assets/food/Featured/Box\ 5.gif");
}

/* Hide class for fading */
.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Make sure visible elements fade in smoothly */
.ContainerFeatured .featured,
.ContainerFeatured .intfeatured {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* motto-section */
.motto-section {
    width: 80%;
    text-align: end;
    margin: 9vh auto;
    padding: 0 80px;

}

/* Grouping each set of lines */
.motto-group {
    margin-bottom: 15px;
    display: block;
}

.motto {
    font-size: clamp(2rem, 4vw, 5rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 65px;
    word-wrap: break-word;
}

.r-stroke {
    -webkit-text-stroke: #C53338 2px;
    paint-order: stroke fill;
    color: transparent;
}

.r-fill {
    color: #C53338;
}

.italic {
    font-weight: 900;
    font-style: italic;
}

.position-container {
    position: relative;
}

.positioned-svg {
    position: absolute;
    left: 18px;
    top: -45`px;
    width: clamp(30px, 5vw, 150px);
    height: auto;
    transform: translateX(30px);
}

/*FOR NAVBAR RESPONSIVE*/
@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }

    .redsun {
        top: 100px;
        width: 550px;
        height: 550px;
        transition: all 5s ease;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }

    .redsun {
        top: 200px;
        width: 500px;
        height: 500px;
        transition: all 5s ease;
    }
}

@media (max-width: 1000px) {
    .content {
        padding: 0 30px;
    }

    .redsun {
        top: 250px;
        width: 450px;
        height: 450px;
        transition: all 5s ease;
    }

    .product-container {
        flex-direction: column;
        width: 100%;
    }

    .product-box {
        height: 20%;
        border: 5px solid #fffceb;
        outline: 2px solid #C53338;
        outline-offset: -5px;
    }

    .product-box:hover {
        height: 5%;
        background-color: #C53338;
    }

    .product-box .product-image-1,
    .product-box .product-image-2,
    .product-box .product-image-3,
    .product-box .product-image-4,
    .product-box .product-image-5 {
        transition-property: height;
        transition-duration: 1s;
        height: 100px;
    }

    .product-box .product-image-1:hover,
    .product-box .product-image-2:hover,
    .product-box .product-image-3:hover,
    .product-box .product-image-4:hover,
    .product-box .product-image-5:hover {
        height: 300px;
    }
}

@media (max-width: 914px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        border: 2px solid black;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        justify-content: center;
        text-align: center;
        background: #F6F1D4;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        font-weight: 700;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}


/*END OF NAVBAR*/