@font-face {
    font-family: Montserrat;
    src: url("Montserrat/static/Montserrat.ttf");
    }

@font-face {
    font-family: Montserrat_Bold;
    src: url("Montserrat/static/Montserrat-Bold.ttf");
    }

@font-face {
    font-family: Montserrat_XBold;
    src: url("Montserrat/static/Montserrat-ExtraBold.ttf");
    }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* SCROLL BAR EDITS */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #888;
    }
    ::-webkit-scrollbar-thumb {
        background: #C53338;
    }

/*BG for Each Page*/
    .bgHome{
        background-color: #fffceb;
    }

/* Home - Section 1 Waves Animation Banner */

    .waves{
        height: 100vh;
        background-size: cover;
        background-position:center center;
        background-attachment: fixed;
    }

    /* Title Banner */
    .BannerTitle{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 20%;
        left: 7%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        align-items: center;
        color: #C53338;
        text-transform: uppercase;
        z-index: 11;
    }
        .BannerTitle img{
            width: 30vw;
        }
    
    .subtitle {
        width: 30vw;
        font-size: 1vw;
        margin-top: 10px;
    }

    /* Clouds CSS */
        .BannerContainer {
            position: relative;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        #background-wrap {
            bottom: 0;
            left: 0;
            padding-top: 50px;
            right: 0;
            top: 0;
            height: 100vh;
            z-index: -1;
        }
        
    /* KEYFRAMES */
        @-webkit-keyframes animateCloud {
            0% {
                margin-left: -1000px;
            }
            100% {
                margin-left: 100%;
            }
        }
        
        @-moz-keyframes animateCloud {
            0% {
                margin-left: -1000px;
            }
            100% {
                margin-left: 100%;
            }
        }
        
        @keyframes animateCloud {
            0% {
                margin-left: -1000px;
            }
            100% {
                margin-left: 100%;
            }
        }
        
    /* CLOUD ANIMATIONS */   
        .x1 {
            top: 5%;
            -webkit-animation: animateCloud 30s linear infinite;
            -moz-animation: animateCloud 30s linear infinite;
            animation: animateCloud 30s linear infinite;   
        }
        
        .x2 {
            top: 30%;
            -webkit-animation: animateCloud 40s linear infinite;
            -moz-animation: animateCloud 40s linear infinite;
            animation: animateCloud 40s linear infinite;

            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            transform: scale(0.7);
        }
        
        .x3 {
            top: 35%;
            -webkit-animation: animateCloud 25s linear infinite;
            -moz-animation: animateCloud 25s linear infinite;
            animation: animateCloud 25s linear infinite;
        }
        
        .x4 {
            top: 50%;
            -webkit-animation: animateCloud 18s linear infinite;
            -moz-animation: animateCloud 18s linear infinite;
            animation: animateCloud 18s linear infinite;

            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            transform: scale(0.6);
        }
        
    /* OBJECTS */
        .cloud {
            height: auto;
            position: relative;
        }
        
        .cloud:after, .cloud:before {
            content: '';
            position: absolute;
            z-indeX: -1;
        }
        

    /* END OF CLOUDS */

/* RISING SUN ANIMATION */
    .redsun {
        position: absolute;
        top: 100px; 
        right: 50px; 
        z-index: 2;
        animation: riseFall 5s ease-in-out infinite; 
        width: 600px;
        height: 600px; 
    }

    /* Clouds behind the sun */
    .x1, .x2 {
        position: absolute;
        z-index: 3;
    }
    
    /* Clouds in front of the sun */
    .x3, .x4 {
        position: absolute;
        z-index: 1;
    }
    
    /* Sun's Rrising and Falling */

    @keyframes riseFall {
        0%, 100% {
        transform: translateY(0px); /* Starting and ending position */
        }
        50% {
        transform: translateY(-20px); /* Peak height */
        }
    }

/* BIG WAVES ANIMATION */
.bigwave {
    position: absolute;
    z-index: 10;
    width: 200%;  
    height: auto;
    display: flex; 
    bottom: -60px;
    animation: moveLeft 10s linear infinite;
}

.wave_img {
    width: 50%; 
    height: auto;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

    
