<nav class="navbar">
  <div class="content">
    <div class="logo">
      <img src="../assets/nav/logo.png" />
      <div class="logoname">
        <a href="../aboutUs.html">Mahou no Go</a>
      </div>
    </div>

    <ul class="menu-list">
      <div class="icon cancel-btn">
        <i class="fas fa-times"></i>
      </div>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../menu.html">Menu</a></li>
      <li><a href="../aboutUs.html">About Us</a></li>
      <li><a href="../services.html">Services</a></li>
    </ul>

    <div class="icon menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
